@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
.blackjackSingle{
    backdrop-filter:blur(5px);
}
.blackjackTable{
    width:1000px;
    height:611px;
    background-image: url('/assets/blackjack-table.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    @include flexbox(center, end, column);
    position:relative;
}
.dealerHand{
    display: flex;
    align-items:center;
    position:relative;
    top: -350px;
}
.playerHand{
    display: flex;
    align-items:center;
    position:relative;
    top:-50px;
}
.dealerHand span, .playerHand span{
    align-items:center;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(38, 160, 218, 0.7);
    background: rgba(49, 71, 85, 0.7);
    background: linear-gradient(
        to right,
        rgba(38, 160, 218, 0.7), rgba(49, 71, 85, 0.7)
    );
    @include fontStyle(#38e6ea, 1.25rem, "Teko");
    &#player-bet-value{
        color:rgb(37, 196, 37);
    }
}
.dealerHand img:first-child, .playerHand img:first-child{
    margin-left:0;
}
.dealerHand img, .playerHand img{
    height:100px;
    margin-left:-50px;
    transition: transform 0.3s ease, opacity 0.3 ease;
    z-index:1;
}
.playerName-container{
    position: absolute;
    bottom:-80px;
    @include flexbox(end, end, row);
    & .playerName-avatar{
        height:64px;
        background-image: url("/assets/avatar-default.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .playerName-namebox{
        width:100%;
        min-width:100px;
        height:62px;
        @include flexbox(center, center, column);
        border-top-right-radius:10px;
        border-bottom-right-radius:10px;
        overflow:hidden;
        padding-left:10px;
        padding-right:10px;
        margin-bottom:1px;
        & span{
            width:100%;
            height:50%;
            text-align: center;
            justify-content:center;
            padding-top:4px;
        }
        & .namebox-name{
            @include fontStyle(#bfbfbf, 1.25rem, "Teko");
            border-bottom:1px solid rgba(38, 160, 218, 0.5);
        }
        & .namebox-stack{
            @include fontStyle(#38e6ea, 1.25rem, "Teko");
        }
    }
    & .betting-panel-helper{
        margin:0px 15px 0px 15px;
        z-index: 1;
    }
    & #betting-options-container{
        background-color: rgba(49, 71, 85, 0.7);
        width:100px;
        height:300px;
        @include flexbox(center, start, column);
        border-radius:10px;
    }
    & #bet-amount-label{
        background-color: rgba(0, 24, 137, 0.6);
        width:100%;
        height:15%;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        padding: 0px 10px 0px 10px;
        @include flexbox(center, space-between, row);
        @include fontStyle(#38e6ea, 1.25rem, "Teko");
    }
    & .optionsHelper{
        @include flexbox(center, center, row);
        width:100%;
        height:80%;
        justify-content:space-around;
        padding: 15px 0 15px 0;
        
    }
    & #betting-buttons-container{
        @include flexbox(center,center,column);
        width:50%;
        height:100%;
        & button{
        margin: 5px;
        border-radius: 10px;
        width:100%;
        height:30%;
        background-color: rgba(0, 24, 137, 0.6);
        @include fontStyle(#38e6ea, 1.25rem, "Teko");
        &:hover{
            background-color: rgba(28, 56, 179, 0.6);
        }
        }
        
    }
    & .rangeContainer{
        width:30%;
        height:100%;
        position:relative;
        @include flexbox(center, center, column);
    }
    & input[type="range"]{
        writing-mode: vertical-lr;
        height:100%;
        direction: rtl;
        margin: 0;
        position:absolute;
        -webkit-appearance: none;
        border-radius:15px;
        &::-webkit-slider-runnable-track{
        width:15px;
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background-color: rgb(128,128,128);
        border-radius:15px;
        }
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            width: 21px;
            height: 40px;
            border-radius: 15px;
            background-color:rgba(0, 24, 137, 1);
            margin-left:-3px;
            border: 2px solid rgb(128,128,128);
            cursor: grabbing;
        }
    }
    & #bet-button, .action-btn, #newhand-button{
        height:64px;
        min-width:100px;
        width:100%;
        text-align:center;
        @include fontStyle(#38e6ea, 1.5rem, "Teko");
        border-radius: 15px;
        border: 2px solid rgb(128,128,128);
        margin: 0px 5px 0px 5px;
        line-height: 1;
        &:hover{
            filter:brightness(1.25);
        }
        &.betBtn-confirm{
            color: rgb(37, 196, 37);
        }
    }
}
.gradient{
    background: rgba(49, 71, 85, 0.7);
    background: linear-gradient(
        to right,
        rgba(38, 160, 218, 0.5), rgba(49, 71, 85, 0.7)
    );
}
.gradient2{
    background: rgba(49, 71, 85, 0.7);
    background: linear-gradient(
        to right,
        rgba(11, 104, 39, 0.5), rgba(3, 36, 13, 0.5)
    );
}
.card{
    opacity:0;
    transform:translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    &.animate{
        opacity:1;
        transform:translateX(0);
    }
}
