@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import 'menus';
@import 'blackjack-game';

@include reset;
body{
    @include flexbox(center, center);
    background-image: $background-blue;
    height:100vh;
}
.blackjack-option-btn{
    @include buttonStyling(url('../assets/blackjack-background.jpg'));
    @include flexbox(center, center);
    box-shadow: 50px 50px 100px 20px gray;
    aspect-ratio: 1/1;
}
.poker-option-btn{
    @include buttonStyling(url('../assets/poker-background.png'));
    @include flexbox(center, center);
    & span{
        text-align: center;
        line-height: 0.8;
    }
    aspect-ratio: 1/1;
}
.option-description{
    @include fontStyle(white, 5em, Teko, 600);
}
.custom-shadow {
    box-shadow:8px 8px 10px rgba(0, 0, 0, 0.5);
}

@import 'mobile';