@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


.blackjack-menu{
    width:25rem;
    background-image: url('../assets/menu-background.webp');
    background-size: 225%;
    padding: 1.5rem;
    @include flexbox(center, start, column);
    @include classicFadeIn;
}
.settingsHeader{
    @include fontStyle(white, 3em, Teko, 600);
}
.form-container{
    width:100%;
    gap: 2rem;
    @include flexbox(start, center, column);
    .settings-option-container{
        @include flexbox(center, start, row);
        width:100%;
        & span{
            @include fontStyle(rgb(42, 42, 99), 1.5rem, Teko, 600);
            width: 50%;
        }
        gap: 1rem;
        input{
            outline:none;
            background-color: rgb(42, 42, 99);
            @include fontStyle(green, 1.5rem, Teko, 600);
            border-radius: 5px;
        }
    }
}
.select-standard{
    @include fontStyle(green, 1.75rem, Teko, 600);
    border-radius: 5px;
    background-color: rgb(42, 42, 99);
    width:50%;
    cursor: pointer;
}
.menu-btn-container{
    width:100%;
    @include flexbox(center, space-between, row);
    @include fontStyle(green, 1.75rem, Teko, 600);
    & button{
        text-align:center;
        width: 9rem;
        background-color:rgb(42, 42, 99);
        border-radius: 5px;
        &:hover{
        background-color:rgb(48, 48, 124);
        }
    }
}
.hidden{
    display:none;
}

.error{
    border: 1px solid red;
}