@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
.blackjack-menu {
  width: 25rem;
  background-image: url("../assets/menu-background.jpg");
  background-size: 225%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 0;
  animation: fadeIn 0.15s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.settingsHeader {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 3em;
}

.form-container {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.form-container .settings-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 1rem;
}
.form-container .settings-option-container span {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: rgb(42, 42, 99);
  font-size: 1.5rem;
  width: 50%;
}
.form-container .settings-option-container input {
  outline: none;
  background-color: rgb(42, 42, 99);
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.5rem;
  border-radius: 5px;
}

.select-standard {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.75rem;
  border-radius: 5px;
  background-color: rgb(42, 42, 99);
  width: 50%;
  cursor: pointer;
}

.menu-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.75rem;
}
.menu-btn-container button {
  text-align: center;
  width: 9rem;
  background-color: rgb(42, 42, 99);
  border-radius: 5px;
}
.menu-btn-container button:hover {
  background-color: rgb(48, 48, 124);
}

.hidden {
  display: none;
}

.blackjackSingle {
  backdrop-filter: blur(5px);
}

.blackjackTable {
  width: 1000px;
  height: 611px;
  background-image: url("/assets/blackjack-table.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
}

.dealerHand {
  display: flex;
  align-items: center;
  position: relative;
  top: -350px;
}

.playerHand {
  display: flex;
  align-items: center;
  position: relative;
  top: -50px;
}

.dealerHand span, .playerHand span {
  align-items: center;
  color: white;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(38, 160, 218, 0.7);
  background: rgba(49, 71, 85, 0.7);
  background: linear-gradient(to right, rgba(38, 160, 218, 0.7), rgba(49, 71, 85, 0.7));
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #38e6ea;
  font-size: 1.25rem;
}
.dealerHand span#player-bet-value, .playerHand span#player-bet-value {
  color: rgb(37, 196, 37);
}

.dealerHand img:first-child, .playerHand img:first-child {
  margin-left: 0;
}

.dealerHand img, .playerHand img {
  height: 100px;
  margin-left: -50px;
  transition: transform 0.3s ease, opacity 0.3 ease;
  z-index: 1;
}

.playerName-container {
  position: absolute;
  bottom: -80px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
.playerName-container .playerName-avatar {
  height: 64px;
  background-image: url("/assets/avatar-default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.playerName-container .playerName-namebox {
  width: 100%;
  min-width: 100px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1px;
}
.playerName-container .playerName-namebox span {
  width: 100%;
  height: 50%;
  text-align: center;
  justify-content: center;
  padding-top: 4px;
}
.playerName-container .playerName-namebox .namebox-name {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #bfbfbf;
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(38, 160, 218, 0.5);
}
.playerName-container .playerName-namebox .namebox-stack {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #38e6ea;
  font-size: 1.25rem;
}
.playerName-container .betting-panel-helper {
  margin: 0px 15px 0px 15px;
  z-index: 1;
}
.playerName-container #betting-options-container {
  background-color: rgba(49, 71, 85, 0.7);
  width: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
}
.playerName-container #bet-amount-label {
  background-color: rgba(0, 24, 137, 0.6);
  width: 100%;
  height: 15%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #38e6ea;
  font-size: 1.25rem;
}
.playerName-container .optionsHelper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  justify-content: space-around;
  padding: 15px 0 15px 0;
}
.playerName-container #betting-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.playerName-container #betting-buttons-container button {
  margin: 5px;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 24, 137, 0.6);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #38e6ea;
  font-size: 1.25rem;
}
.playerName-container #betting-buttons-container button:hover {
  background-color: rgba(28, 56, 179, 0.6);
}
.playerName-container .rangeContainer {
  width: 30%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.playerName-container input[type=range] {
  writing-mode: vertical-lr;
  height: 100%;
  direction: rtl;
  margin: 0;
  position: absolute;
  -webkit-appearance: none;
  border-radius: 15px;
}
.playerName-container input[type=range]::-webkit-slider-runnable-track {
  width: 15px;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background-color: rgb(128, 128, 128);
  border-radius: 15px;
}
.playerName-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 21px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(0, 24, 137);
  margin-left: -3px;
  border: 2px solid rgb(128, 128, 128);
  cursor: grabbing;
}
.playerName-container #bet-button, .playerName-container .action-btn {
  height: 64px;
  min-width: 100px;
  width: 100%;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #38e6ea;
  font-size: 1.5rem;
  border-radius: 15px;
  border: 2px solid rgb(128, 128, 128);
  margin: 0px 5px 0px 5px;
  line-height: 1;
}
.playerName-container #bet-button:hover, .playerName-container .action-btn:hover {
  filter: brightness(1.25);
}
.playerName-container #bet-button.betBtn-confirm, .playerName-container .action-btn.betBtn-confirm {
  color: rgb(37, 196, 37);
}

.gradient {
  background: rgba(49, 71, 85, 0.7);
  background: linear-gradient(to right, rgba(38, 160, 218, 0.5), rgba(49, 71, 85, 0.7));
}

.gradient2 {
  background: rgba(49, 71, 85, 0.7);
  background: linear-gradient(to right, rgba(11, 104, 39, 0.5), rgba(3, 36, 13, 0.5));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/landing-background.jpg");
  height: 100vh;
}

.blackjack-option-btn {
  cursor: pointer;
  background-image: url("../assets/blackjack-background.jpg");
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 50px 50px 100px 20px gray;
  aspect-ratio: 1/1;
}

.poker-option-btn {
  cursor: pointer;
  background-image: url("../assets/poker-background.png");
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.poker-option-btn span {
  text-align: center;
  line-height: 0.8;
}

.option-description {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 5em;
}

.custom-shadow {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1050px) {
  .blackjack-option-btn, .poker-option-btn {
    width: 40vw;
    height: 40vh;
  }
}
@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .poker-option-btn, .blackjack-option-btn {
    width: 360px;
    height: 360px;
  }
}
@media (max-width: 1020px) {
  .bjgame-mobile {
    transform: rotate(90deg) scale(0.8) translate(0, 25%);
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
