@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
.blackjack-menu {
  width: 25rem;
  background-image: url("../assets/menu-background.jpg");
  background-size: 225%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 0;
  animation: fadeIn 0.15s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.settingsHeader {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 3em;
}

.form-container {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.form-container .settings-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 1rem;
}
.form-container .settings-option-container span {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: rgb(42, 42, 99);
  font-size: 1.5rem;
  width: 50%;
}
.form-container .settings-option-container input {
  outline: none;
  background-color: rgb(42, 42, 99);
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.5rem;
  border-radius: 5px;
}

.select-standard {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.75rem;
  border-radius: 5px;
  background-color: rgb(42, 42, 99);
  width: 50%;
  cursor: pointer;
}

.menu-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: green;
  font-size: 1.75rem;
}
.menu-btn-container button {
  text-align: center;
  width: 9rem;
  background-color: rgb(42, 42, 99);
  border-radius: 5px;
}
.menu-btn-container button:hover {
  background-color: rgb(48, 48, 124);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/landing-background.jpg");
  height: 100vh;
}

.blackjack-option-btn {
  cursor: pointer;
  background-image: url("../assets/blackjack-background.jpg");
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 50px 50px 100px 20px gray;
  aspect-ratio: 1/1;
}

.poker-option-btn {
  cursor: pointer;
  background-image: url("../assets/poker-background.png");
  width: 30rem;
  height: 30rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
.poker-option-btn span {
  text-align: center;
  line-height: 0.8;
}

.option-description {
  font-family: Teko, sans-serif;
  font-weight: 600;
  color: white;
  font-size: 5em;
}

.custom-shadow {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1050px) {
  .blackjack-option-btn, .poker-option-btn {
    width: 40vw;
    height: 40vh;
  }
}
@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .poker-option-btn, .blackjack-option-btn {
    width: 360px;
    height: 360px;
  }
}

/*# sourceMappingURL=main.css.map */
